.w .wpart2 p.wld,.w .wpart2 p.qzx{font-family: "微软雅黑";font-size: 18px;color: #626262;padding-left: 15px;}
.w .wpart2 p.wld .wicon1{display: inline-block;width: 24px;height: 18px;background: url(../wimg/wicon.png) no-repeat;background-position: 0 0;}
.w .wpart2 p.qzx .wicon2{display: inline-block;width: 24px;height: 18px;background: url(../wimg/wicon.png) no-repeat;background-position: 0 -27px;}




