.ditudh{
    position: relative;
    width :100%;
}
.ditudh span{
    display: inline-block;
    width :5px;
    height :5px;
    position: absolute;
    background-color: #bec2c3;
    bottom: 0;
    border-radius: 50%;
}
.ditudh .dian1{
    right :32.5%;
    top :29%;
}
.ditudh .dian2{
    right :23.19%;
    top :50.2%;
}

.ditudh .dian3{
    right :31.9%;
    top :66.3%;
}
.ditudh .dian4{
    right :11.6%;
    top :49.7%;
}
.ditudh .dian5{
    right :22.7%;
    top :80.8%;
}
.ditudh .dian6{
    right :21.5%;
    top :52.5%;
}
.ditudh .dian7{
    right :13.6%;
    top :45.3%;
}
.ditudh .dian8{
    right :15.6%;
    top :90%;
}
.ditudh .dian9{
    right :17.9%;
    top :85.9%;
}
.ditudh .dian10{
    right :10.9%;
    top :60.93%;
}
.ditudh .dian11{
    right :21.5%;
    top :66%;
}
.ditudh .dian12{
    right :15.2%;
    top :46.9%;
}
.ditudh .dian13{
    right :14%;
    top :71.5%;
}
.ditudh .dian14{
    right :19.8%;
    top :45.9%;
}
.ditudh .dian15{
    right :17.74%;
    top :55.98%;
}
.ditudh .dian16{
    right :11.75%;
    top :69.4%;
}
.ditudh .dian17{
    right :11.5%;
    top :42%;
}
.ditudh .dian18{
    right :16%;
    top :38.99%;
}
.ditudh .dian19{
    right :8%;
    top :33.8%;
}
.ditudh .dian20{
    right :7%;
    top :27.6%;
}
.ditudh .dian21{
    right :6.6%;
    top :22.5%;
}
.ditudh .dian22{
    right :6.5%;
    top :77%;
}
.ditudh .dian23{
    right :8.4%;
    top :64%;
}
.ditudh .dian24{
    right :14%;
    top :54.8%;
}
.ditudh .dian25{
    right :8.44%;
    top :74.8%;
}
.ditudh .dian26{
    right :15.7%;
    top :91.7%;
}
.ditudh .dian27{
    right :9.49%;
    top :60.6%;
}
.ditudh .dian28{
    right :7.1%;
    top :61%;
}
.ditudh .dian29{
    right :6.2%;
    top :77%;
}
.ditudh .dian30{
    right :19.6%;
    top :68.7%;
}
.ditudh .dian31{
    right :6%;
    top :22%;
}
.ditudh .dian32{
    right :6%;
    top :22%;
}

.ditudh .dian33{
    right :13.25%;
    top :84%;
}

.ditudh .dian34{
    right :13.5%;
    top :86.8%;
}
.ditudh .dian35{
    right :13.2%;
    top :64.9%;
}

@keyframes fang {
    0% {
        transform:scale(0);
    }
    100%{
        transform:scale(1.2);
    }

}
.dian{
    animation:fang 0.8s ease-in 1.1s infinite alternate;
}
/*
.dian1{
    animation:fang 0.8s ease-in 1.1s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}
.dian2{
    animation:fang 0.8s ease-in 1.22s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}
.dian3{
    animation:fang 0.8s ease-in 1s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}
.dian4{
    animation:fang 0.8s ease-in 2.1s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}
.dian5{
    animation:fang 0.8s ease-in 1s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}
.dian6{
    animation:fang 0.8s ease-in .3s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}
.dian7{
    animation:fang 0.8s ease-in 0.6s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}
.dian8{
    animation:fang 0.8s ease-in .7s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}
.dian9{
    animation:fang 0.8s ease-in 0s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}
.dian10{
    animation:fang 0.8s ease-in 1.8s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}

.dian11{
    animation:fang 0.8s ease-in 2.0s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}

.dian12{
    animation:fang 0.8s ease-in 1.6s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}
.dian13{
    animation:fang 0.8s ease-in 0.8s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}
.dian14{
    animation:fang 0.8s ease-in 1s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}
.dian15{
    animation:fang 0.8s ease-in 0.3s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}
.dian16{
    animation:fang 0.8s ease-in 1.8s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}
.dian17{
    animation:fang 0.8s ease-in 3.0s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}
.dian18{
    animation:fang 0.8s ease-in 0.6s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}
.dian19{
    animation:fang 0.8s ease-in 3s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}
.dian20{
    animation:fang 0.8s ease-in 2.2s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}
.dian21{
    animation:fang 0.8s ease-in 1.4s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}
.dian22{
    animation:fang 0.8s ease-in 1.2s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}
.dian23{
    animation:fang 0.8s ease-in .9s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}
.dian24{
    animation:fang 0.8s ease-in 0.5s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}
.dian25{
    animation:fang 0.8s ease-in .8s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}
.dian26{
    animation:fang 0.8s ease-in .5s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}
.dian27{
    animation:fang 0.8s ease-in 2s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}
.dian28{
    animation:fang 0.8s ease-in 2.1s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}
.dian29{
    animation:fang 0.8s ease-in 1.7s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}
.dian30{
    animation:fang 0.8s ease-in 1.5s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}
.dian31{
    animation:fang 0.8s ease-in 2.1s infinite alternate;/!*infinite��ʾ����Ρ�����alternate��ʾ���²���*!/
}
*/
















