.n h1{
    font-size: 18px;
}
.ctos{
    font-size: 16px;
}
.iuqt{
    font-size:14px ;
}
.ctoi{
    font-size: 16px;
    text-transform:uppercase;
    color: #94724d!important;
}
.bpart3 div.xq p{
    font-size: 16px;
}
.bpart3 div.xq a{
    font-size: 16px;
}
.btext .f18{
    font-size: 16px;
}
.btext p{
    font-size: 14px;
}
.n h1{
    padding-top: 50px!important;
    margin-top:0!important;
}
.ctoi{
    margin-top: 15px;
    /*padding-top: 40px;*/
}
.zhuz{
    margin-bottom: 0px;
}
.zpart3 .xq p {
    font-size: 14px;

}
.zpart3 .xq a {
    font-size: 14px;

}
.padd-23 .gsfl {

    padding-bottom: 20px;
    font-size: 18px;
    padding-top: 25px;

}

 .wh-bj-con img {
    width: 100%;height :126px;
}
.fitnessRoom p {

    font-size: 16px;

}
.mg-b-20 .bj-c p {

    font-size: 14px;
}
.mg-b-20 .bj-c p {
    padding: 91.959px;
}
.paddingtop40,.padd-23 .gsfl{
    padding-top:50px!important;
    margin-top:0!important;
}
.ren-wgw p{
    font-size: 12px;
}
.conte .synopsis-c{
    line-height: 25px;
}
.synopsis-p-ren{
    margin-bottom: 16px!important;
}
.youshi-ren-ren li{
    line-height: 28px;
}

















