@media screen and (max-width:768px){
    .content{width: 100%;height: 78px;border: 0;background: #00322f;min-height: 78px;margin: 0;}
    .content .container{padding: 0;}
    .wnav{overflow: hidden;}
    .content img.wlogo{float: left;padding: 26.5px 0 26.5px 15px;}
    .wbutton{width: 80px;height: 78px;margin: 0;background: #03493f;border: 0;border-color: inherit;border-radius: 0;float: right;padding: 1px 16px;}
    .wbutton span{display: block;width: 48px;height: 5px;background: #fff;margin-top: 10px;}
    .wbutton span:first-child{margin: 0;}
    .wbanner{width: 100%;}

    .wbanner img{width: 100%;}
    .wcon{width: 100%;position: relative;background: #f4f4f4;}
    .wbot{position: absolute;bottom: 0;width: 100%;}
    .wfooter{width: 100%;height: 154px;background: #00322f;font-family: "微软雅黑";color: #fff;font-size: 14px;position: relative;}
    .wfooter p{line-height: 24px;}
    .wleft{padding: 20px 0 0;}
    .wleft img{padding-bottom: 10px;}
    .wgw{position: absolute;right: 25px;top: 20px;text-align: center;}
    .wlx{width: 316px;color: #ed9600;border-top: 1px solid #ed9600;padding: 4px 0;}
    .wfooter .container{
        padding-left:15px;

        padding-right:15px;
    }
    .erweima{
        margin-bottom:10px;
    }
}