.lmkk{
    margin-right: 48px;
    position: relative;
}
.mar-1{
    margin-bottom: 30px;
}
.n h1{
    font-size: 18px;
    padding-top: 28px;
}
.ctoi {
    margin-top: 15px;
    width: 213px;
    color: #b1b1b1;
    font-size: 16px;
}
.lmkk p{
    font-size: 14px;

}

.hbss{
    position: absolute;
    bottom: 0px;
    right:92px;
}
.lmkk-r p{
    margin-bottom: 12px!important;
    line-height: 10px;
}
.lmqk{
    padding-top: 0px;
}
.kmer p{
    line-height: 13px;
}
.qrat{
    vertical-align: middle;
}








