.iusa{
    margin-top: 0px!important;
    position: relative;
}

.mnlf{
    margin-bottom: 0px;
}
.m{
    padding-bottom: 67px;
}
.iusa .ban-ren{
    width :1200px;
    margin:0 auto;
    background-color: #fff;
}
.iusa img{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.iusa-ren .ban-ren{
    width :1190px;
}
.ffqz-ren{
    padding-bottom: 110px!important;
}
.mnls-ren{
    margin-bottom: 110px!important;
}


