/*�ֻ�*/
@media screen and (max-width:768px){
    html {
        width: 100%;
        height: 100%;
        /*�ڹȸ����棬С��12���ֶ���ֱ����ʾΪ12���֣��˴����������*/
        font-family: "微软雅黑","Microsoft YaHei",sans-serif;
        -webkit-text-size-adjust: none;
        font-size: calc(100vw/6.4);
        /*1rem=100px*/
        font-size: -webkit-calc(100vw/6.4);
        font-size: -moz-calc(100vw/6.4);

        /*overflow: hidden;*/
        /* -webkit-overflow-scrolling: touch;*/
    }
    .web-con .ma-25{
        background-color: #fff;
        padding: .6rem .25rem 0;
        height :13.72rem;
    }
    .web-con{
        position: relative;
    }
    .web-con .ma-25 h3{
        margin :0;
    }
    .web-con .ma-25 span{
        display: block;
        height :.02rem;
        width :2rem;
        background-color: #b2b7b9;
        margin-top: .3rem;
        margin-bottom: .3rem;
    }
    .web-con .ma-25 img{
        width: 100%;
    }
    .web-con .ma-25 img.mg-bot{
        margin-bottom: .13rem;
    }
    .web-con .ma-25 .xinxi{
        margin-top: .35rem;
    }
    .ma-25 .xinxi p{
        margin-bottom: .2rem;
        font-size: .16rem!important;
    }
    .web-con p{
        font-size: .15rem;
    }
    .container{
        padding: 0 15px;
    }
    .web-con .fangzi{
        position: absolute;
        width: 100%;
        bottom: 0;
        left :0;
    }
    /*.n h1{
        padding-top: 0px;
        margin-top: .6rem;
        font-size: .25rem;
        color :#6f6f6f;
    }
    .n .ctos{
        font-size: .22rem;
        width: auto;
    }*/
}
@media only screen and (min-width:768px) and (max-width : 1024px){

}
/*����*/
@media (min-width: 1024px){

}