.iuqi h2{font-size: 24px;color: #6f6f6f;}
.lkkk{font-size: 30px;}
.iuqi img{padding-top: 0;padding-bottom: 30px;}
.banner{overflow: hidden;width: 100%;height: 300px;position: relative;}
.banner img{/*width: auto;*/height: 100%;/*position: absolute;left: 50%;margin-left: -960px;*/}

@media screen and (max-width:768px){
    .zpart3 .xq{
        margin-top:0.1rem;
    }
    .swiper-container-web .swiper-slide{
        width:100%!important;
    }

}