body,html{
    width :100%;
}
.bj-sh{
    width :100%;
}
.bj-sh img{
    width :100%;
}
.attention p{
    height: 77px;
    line-height: 77px;
}
.attention p span{
    margin :0 20px;
    color: #464646;
    font-weight: bold;
}
span.attention-this{
    color :#fbc066!important;
}
.wh-bj-con{
    width: 100%;
    position: relative;
}
.wh-bj-con img{
    width: 100%;

}
.wh-bj-con .banner{
    width :100%;
    position: absolute;
    bottom:0;
}











